@model dotnetApp.Models.YetkiViewModel
@{
  ViewData["Title"] = "Kullanıcılar";
}

@await Html.PartialAsync("_FormPartial")

<div class="container mt-5">
  <h1 class="display-4">KULLANICI SAYFASI</h1>
  <table class="table table-bordered" style="width:100%">
    <thead>
      <tr>
        <th class="text-center">Kullanıcılar</th>
        <th class="text-center">Kullanıcının bağlı olduğu gruplar</th>
        <th class="text-center">Düzenle</th>
      </tr>
    </thead>
    <tbody id="tbody">
      <form action="/Yetki/GetIsim" type="POST">
        <input name="ali" value="dsfsd" type="text">
        <input type="submit" value="testset">
      </form>
    </tbody>
  </table>
</div>


<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/Kullanici/kullanici.js"></script>
